
<% if notice %>
<p id="notice"><%= notice %></p>
 <% end %>
<h2>Your Pragmatic Cart</h2> <ul>
<% @cart.line_items.each do |item| %> 

<li><%= item.quantity %> &times; <li><%= item.product.title %></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= number_to_currency(item.product.price, :unit => "$") %><br><br>
	
</li>
<% end %> </ul>
<%= link_to 'Back', root_path %>
